.repo-card {
	background-color: var(--color-card-background);
	border-style: solid;
	border-color: var(--color-border-card);
	border-width: 3px;
	border-radius: 6px;
	width: 550px;
	padding: 16px;
	height: 180px;
	margin: 5px;
	position: relative;
}

.repo-header {
	border-bottom: 1px solid var(--color-border-card);
	padding-bottom: 7px;
	/* border-style: solid; */
}

.repo-header a {
	text-decoration: none;
	color: white;
}

.repo-header a:hover {
	text-decoration: underline;
}

.repo-description {
	font-size: 0.9rem;
	/* padding-bottom: 2px; */
}

.repo-footer {
	padding-top: 5px;
	font-size: 0.9rem;
	display: flex;
	position: absolute;
	bottom: 0;
}

.repo-stargazers {
	display: flex;
	margin-left: 20px;
	align-items: center;
	text-decoration: none;
	color: white;
}

.repo-stargazers:hover {
	text-decoration: underline;
}

.repo-stargazers img {
	height: 16px;
	margin-right: 5px;
}

.repo-forks {
	display: flex;
	margin-left: 20px;
	align-items: center;
	text-decoration: none;
	color: white;
}

.repo-forks:hover {
	text-decoration: underline;
}

.repo-forks svg {
	height: 16px;
	margin-right: 5px;
	fill: white;
}
