.navbar {
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.navbar a {
  margin: 0px 15px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar img {
  margin-left: auto;
  margin-right: 10px;
  border-radius: 40px;
  cursor: pointer;
}
